{% extends 'dummy.html' %}


{% block title %}
    <title>RESET password Page</title>

{% endblock %}

{% block body_block %}

    <h1>change_password</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="npw">New Password</label>
        <input type="password" name="npw" id="npw"><br>
        <br>
        <input type="submit" value="reset_password" class="btn btn-danger">

    </form>
{% endblock %}
